.hidden {
  opacity: 0;
  transform: translateX(100%);
}
.interTest{
  animation-duration: 3s;
  animation-name: slidein;
}
.test{
  background-color: red;
  width: 100%;
  height: 10px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0;
    width: 100%;
  }
}
.teal-background-color{
background-color: #439788;
}